html {
  background-image: url('../assets/background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
}

.homeWrapper {
  margin: 8rem 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitle {
  margin: 0;
}
