:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Lilita One', sans-serif;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.project-list {
  max-width: 50vw;
  margin: 2rem auto;
  box-sizing: border-box;
  overflow: hidden;
}

.projects-row {
  background-color: rgb(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border: solid transparent 1px;
  transition: border-color 0.5s;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-overflow: ellipsis;
  border-bottom: #fff solid 1px;
  overflow: hidden;
  padding: 2rem;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.projects-row:hover {
  background-color: rgb(0, 0, 0, 0.3);
  border-color: #646cff;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.download-button {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  gap: 0.8rem;
}

.introduction {
  text-align: justify;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.projectButtons {
  margin: 6rem;
  display: flex;
  gap: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: 'Poppins';
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  font-family: 'Poppins', Geneva, Verdana, sans-serif;
}

b {
  font-weight: 600;
}

::selection {
  background-color: #646cff; /* Blue color */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden; /* To prevent horizontal scrolling */
}

body {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  min-height: 100vh;
}

h3 {
  color: rgb(194, 198, 255);
}

.project-description {
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.5);
  background-color: rgb(0, 0, 0, 0.9);
  width: 50vw;
  min-height: 50vh;
  font-family: 'Poppins';
  margin-bottom: 0;
  text-align: justify;
  border-radius: 20px 20px 0 0;
}

.project-description img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 10;
  object-fit: cover; /* Ensures the image covers the entire container */
}

@media (max-width: 768px) {
  .project-description {
    box-sizing: border-box;
    width: 100%;
  }
}

.testimonial-pic {
  z-index: 10;
}

a:hover {
  color: white
}

.testimonial-pic img {
  box-shadow: -1px 0 0px 1px rgb(255, 255, 255);
}

.testimonial-pic img:hover {
  box-shadow: -1px 0 0px 1px rgb(255, 255, 255);
  
}

.testimonies-section {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

.testimonies-section img {
  transition: transform 0.4s;
}

.testimonies-section:hover img {
  transform: scale(1.1);
}

.testimonial {
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
  background-color: #1a1a1a;
  border: 1px solid white;
  border-radius: 8px;
  z-index: 0;
  transition: padding 250ms;
}

blockquote {
  padding: 0.8rem;
  margin: 0;
  margin-left: -2rem;
  padding-left: 3rem;
  padding-right: 1rem;
}

.project-tags {
  margin: 10px 0;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-tags span {
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: rgb(5, 5, 5);
  border: 1px solid white;
  border-radius: 14px;
  color: #bbb;
  font-family: Poppins;

  &:hover {
    color: white;
  }
}

.project-responsibilities {
  list-style: circle;
  padding-left: 1rem;
  margin: 0 1rem;
}

.project-tags span:hover {
  color: white;
}

cite {
  color: #888;
}

section {
  margin: 2rem 0;
}

hr {
  margin: 0;
}

.project-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.project-header img {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.project-info h2 {
  font-size: 1.2rem;
  margin: 0;
}

.project-info p {
  color: #888;
  margin: 0;
}

.project-details {
  margin-top: 16px;
}
